## Functions Advance

Buit In functions in python

In [2]:
print("Hi all welcome to advanced python class")

Hi all welcome to advanced python class

In [3]:
print(3*4)

12

In [7]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [5]:
a= ( 1,2,3,4)

In [6]:
sum(a)

10

In [8]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [9]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

## User Defined functioneds -udf

In [12]:
def add(a, b):
    """
    This function takes two numbers as imput 
    and provides addition as output
    """
    c = a + b
    return c

In [13]:
add (3 , 4)

7

In [15]:
d = add(1.3, 7.3)

In [16]:
d

8.6

In [10]:
help(add)

NameError: name 'add' is not defined


## _main__ current file which you are working in
## Type Hinting in python

In [18]:
a = 23
type(a)

int

In [19]:
isinstance("Example", str)

True

In [20]:
isinstance(23, float)

False

In [21]:
isinstance(23.5,(int,float))

True

In [1]:
def mul(x: float|int, y:float|int) -> float|int:
    """
    This function provides multipcation of two numbers
    """
    assert isinstance(x,(int, float)), "Expected x to be integer or float"
    assert isinstance(y,(int, float)), "Expected y to be interger or float"
    z= x*y
    return z

In [2]:
help(mul)

Help on function mul in module __main__:

mul(x: float | int, y: float | int) -> float | int
    This function provides multipcation of two numbers

In [3]:
mul(10,24)

240

In [4]:
mul(2.4, 12)

28.799999999999997

In [6]:
mul('a',2)

AssertionError: Expected x to be integer or float

In [14]:
add (2,3)

5

In [15]:
d= add (1.5,7.5)

In [16]:
d

9.0

In [18]:
add(2, 4, 5)

TypeError: add() takes 2 positional arguments but 3 were given

In [19]:
# Arguments
add(3,4)

7

In [20]:
# Keyword arguments
add(a=23, b=24)

47

# Arguments in Python

*args -act like a tuple in python

In [21]:
def function (*args):
    print(f"Arguments : {args}")
    print(f"Type : {type(args)}")
    for i in args:
        print(i)

In [23]:
function("Pooja", 26)

Arguments : ('Pooja', 26)
Type : <class 'tuple'>
Pooja
26

In [24]:
function ("Prashant", 30, 45000, (1,2,3), True)

Arguments : ('Prashant', 30, 45000, (1, 2, 3), True)
Type : <class 'tuple'>
Prashant
30
45000
(1, 2, 3)
True

## Upacking a list as argument in python

In [26]:
a = [12,"Pooja", True, 13.5]
type(a)

list

In [29]:
function(a)

Arguments : ([12, 'Pooja', True, 13.5],)
Type : <class 'tuple'>
[12, 'Pooja', True, 13.5]

In [30]:
print(a)

[12, 'Pooja', True, 13.5]

In [31]:
function(*a)

Arguments : (12, 'Pooja', True, 13.5)
Type : <class 'tuple'>
12
Pooja
True
13.5

# Add multiple numbers